<div class="row">
    <div class="col-md-12">

        <div st-table="ctrl.paginateState.items" st-safe-src="ctrl.paginatedItems" st-pipe="ctrl.getData">

            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="form-inline" role="grid">

                        <div class="row">

                            <div class="col-sm-4">
                                <label>
                                    <select class="form-control input-sm" ng-model="ctrl.config.itemsPerPage">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="">All</option>
                                    </select>
                                    records per page
                                </label>
                            </div>

                            <div class="col-sm-4 text-center" style="padding-top: 5px;">
                                <div ng-show="ctrl.isLoading" class="badge badge-info">
                                    Loading...
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="pull-right">
                                    <button class="btn btn-default btn-sm" ng-show="ctrl.itemsSelected.length" ng-click="ctrl.openExportModal()">
                                        Export
                                    </button>
                                    <div class="input-group">
                                        <input st-search type="search" class="form-control input-sm"
                                               placeholder="Search">

                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                            <button class="btn btn-sm btn-default"
                                                    ng-click="ctrl.toggleSearch()">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div ng-hide="!ctrl.showSearch" ng-class="{'panel-body': ctrl.showSearch}">
                    <form name="searchFilter"
                          sf-schema="ctrl.config.search.schema"
                          sf-form="ctrl.config.search.form"
                          sf-model="ctrl.searchModel"
                          sf-options="{ formDefaults: { ngModelOptions: { debounce: 500 } }}">
                    </form>
                </div>


                <table class="table table-striped table-bordered table-hover  table-small-font">
                    <thead>
                    <tr role="row">
                        <th cs-select-all="ctrl.paginateState.items" class="select-box cs-select-rows"></th>
                        <th st-sort="name" class="sorting col-md-2" data-priority="2">Name</th>
                        <th st-sort="status" class="sorting col-md-2" data-priority="2">Status</th>
                        <th st-sort="description" class="sorting col-md-3 text-nowrap" data-priority="1">
                            Description
                        </th>
                        <th st-sort="personId" class="sorting col-md-3" data-priority="5">Person</th>
                        <th class="col-md-1" data-priority="1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.paginateState.items track by item.id"
                        ng-class="{'muted': ctrl.isLoading}">
                        <td cs-select="item" class="select-box"></td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.status}}
                        </td>
                        <td>
                            {{ item.description }}
                        </td>
                        <td>
                            {{::item.person.name}}
                        </td>
                        <td>
                            <!-- Split button -->
                            <div class="btn-group btn-group-xs" style="width:80px;">
                                <button type="button" class="btn btn-default btn-xs"
                                        ui-sref="^.view({itemId: item.id})">View
                                </button>
                                <button type="button"
                                        class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ui-sref="^.edit({itemId: item.id})">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="ctrl.formHelper.delete(item.id)">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="panel-footer">

                    <div class="row">
                        <div class="col-sm-4">
                            <div role="alert">
                                Showing {{ctrl.pagination.start+1}} to {{ctrl.pagination.number +
                                ctrl.pagination.start}} of
                                {{ctrl.paginateState.counters.itemsTotal}} items




                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <span ng-show="ctrl.itemsSelected.length">
                                {{ctrl.itemsSelected.length}} items selected

                                <a href="" ng-show="ctrl.itemsSelected.length !== ctrl.paginateState.counters.itemsTotal" ng-click="ctrl.toggleSelectAll();">
                                    Select all {{ctrl.paginateState.counters.itemsTotal}} items
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <div class="dataTables_paginate text-right">
                                <div st-template="pagination.html" st-pagination=""
                                     st-items-by-page="ctrl.paginateState.counters.itemsPerPage"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <h5>Table State</h5>
                    <pre>{{ctrl.tableState|json}}</pre>

                    <h5>Selected ({{ctrl.itemsSelected.length|json}})</h5>
                    <pre>{{ctrl.itemsSelected|json}}</pre>

                    <h5>Table Config</h5>
                    <pre>{{ctrl.config|json}}</pre>

                </div>
                <div class="col-md-6">

                    <h5>Paginate State</h5>
                    <pre>{{ctrl.paginateState|json}}</pre>

                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="pagination.html">
    <ul class="pagination pagination-sm" ng-if="numPages>1">
        <li ng-class="{disabled: currentPage==1}">
            <a ng-click="selectPage(1)">
                <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
            </a>
        </li>
        <li ng-class="{disabled: currentPage==1}">
            <a ng-click="selectPage(currentPage-1)">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
            </a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-click="selectPage(page)">{{ page }}</a>
        </li>
        <li ng-class="{disabled: currentPage>=numPages}">
            <a ng-click="selectPage(currentPage+1)" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            </a>
        </li>
        <li ng-class="{disabled: currentPage>=numPages}">
            <a ng-click="selectPage(numPages)">
                <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
            </a>
        </li>
    </ul>
</script>


<style>
    .panel-heading .label,
    .pagination {
        margin: 0px;
    }
    td.select-box {
        width: 1%!important;
    }
</style>