body {
  padding-top: 60px;
}

.dui-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 11px;
}

.st-sort-ascent:after{
  content: '\2B06';
}

.st-sort-descent:after{
  content: '\2B07';
}

a {
  cursor: pointer;
}
.fc-table .panel-footer .label,
.fc-table .panel-heading .label,
.fc-table .pagination {
  margin: 0px;
}
.fc-table .form-group {
  margin-bottom: 0px;
}
.fc-table .fc-selected-row {
  background: #eee!important;
}
.fc-table .fc-checkbox {
  width: 1%!important;
}

.fc-table td.select-box {
  width: 1% !important;
}

