<dui-screen>
  <dui-screen-content class="row">

    <dui-box class="col-md-6">
      <dui-box-content>

        <div class="panel panel-default">
          <div class="panel-heading">
            <span ng-if="!ctrl.item.id">Add Item</span>
            <span ng-if="ctrl.item.id">Edit Item</span>
          </div>
          <div class="panel-body">
            <form id="itemForm"
                  sf-schema="ctrl.formSchema"
                  sf-form="ctrl.form"
                  sf-model="ctrl.item"
                  ng-submit="ctrl.onSubmit(itemForm)">
            </form>
          </div>
        </div>

      </dui-box-content>
    </dui-box>

    <dui-box class="col-md-6">
      <dui-box-content>

        <div class="panel panel-default">
          <div class="panel-heading">Data</div>
          <div class="panel-body">
            <strong>item</strong>
            <pre>{{ctrl.item | json}}</pre>
            <strong>form</strong>
            <pre>{{ctrl.form | json}}</pre>
            <strong>formSchema</strong>
            <pre>{{ctrl.formSchema | json}}</pre>
            <strong>Tags</strong>
            <pre>{{ctrl.tags | json}}</pre>
          </div>
        </div>

      </dui-box-content>
    </dui-box>

  </dui-screen-content>
</dui-screen>





