<dui-screen>
  <dui-screen-content class="row">

    <dui-box class="col-md-12">
      <dui-box-content>

        <div class="panel panel-default">
          <div class="panel-heading">
            Items
            <span class="pull-right">
              <a href="#" ui-sref="app.add" class="btn btn-default btn-xs">+</a>
            </span>
          </div>
          <div class="panel-body">
            <table st-table="ctrl.items" class="table table-bordered table-striped">
              <tr>
                <th cs-select-all="ctrl.items" class="st-checkbox">&nbsp;</th>
                <th class="col-md-6" st-sort='name'>Name</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Person</th>
                <th class="col-md-2">Created</th>
              </tr>
              <tr ng-repeat="item in ctrl.items">
                <td cs-select="item"></td>
                <td>
                  <a href="#" ui-sref="app.edit({itemId: item.id})">
                    {{item.name}}
                  </a>
                  <span class="pull-right" ng-repeat="tag in item.tags">
                    <span class="badge">{{tag.name}}</span>&nbsp;
                  </span>
                </td>
                <td>
                  {{item.status}}
                </td>
                <td>
                  {{item.person.name}}
                </td>
                <td class="text-nowrap">
                  {{item.created | date: 'medium'}}
                </td>
              </tr>
            </table>
          </div>
          <div class="panel-footer">
            <select
              ng-model="ctrl.batchOperation"
              ng-options="item.value as item.label for item in ctrl.batchOperations">

            </select>
            <a ng-click="ctrl.applyBatchOperation()" class="btn btn-default btn-xs">Apply</a>

            <button type="button" class="btn btn-default btn-xs"
                    ng-csv="ctrl.getCsv()"
                    csv-header="['id','name','status','description']"
                    field-separator=";"
                    filename="{{ctrl.getCsvName}}">Export
            </button>
          </div>
        </div>

      </dui-box-content>
    </dui-box>

    <dui-box class="col-md-6" ng-show="false">
      <dui-box-content>
        <pre>{{ctrl.items|json}}</pre>
      </dui-box-content>
    </dui-box>

    <dui-box class="col-md-6" ng-show="false">
      <dui-box-content>
        <pre>{{ctrl.batchOperation|json}}</pre>
        <pre>{{ctrl.itemsSelected.length}} items selected</pre>
        <pre>{{ctrl.itemsSelected|json}}</pre>
      </dui-box-content>
    </dui-box>


  </dui-screen-content>
</dui-screen>



