<dui-screen>
  <dui-screen-content class="row">

    <dui-box class="col-md-6">
      <dui-box-content>

        <div class="panel panel-default">
          <div class="panel-heading">
            Items
        <span class="pull-right">
          <a href="#" ui-sref="app.add" class="btn btn-default btn-xs">+</a>
        </span>
          </div>
          <div class="panel-body">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Person</th>
                <th>Tags</th>
              </tr>
              <tr ng-repeat="item in ctrl.items">
                <td>
                  <a href="#" ui-sref="app.edit({itemId: item.id})">
                    {{item.name}}
                  </a>
                </td>
                <td>
                  {{item.person.name}}
                </td>
                <td>

              <span class="pull-right" ng-repeat="tag in item.tags">
                <span class="badge">{{tag.name}}</span>&nbsp;
              </span>

                </td>
              </tr>
            </table>
          </div>
        </div>

      </dui-box-content>
    </dui-box>

    <dui-box class="col-md-6">
      <dui-box-content>
        <pre>{{ctrl.items|json}}</pre>
      </dui-box-content>
    </dui-box>

  </dui-screen-content>
</dui-screen>



